<<div class="container mt-5"  ng-controller="blogCommentAddController">
    <h2 class="pageTitle">{{ blog.blogTitle }}</h2>
    <div class="blog-entry">
        <div class="blog-entry-title">{{ blog.blogTitle }}</div>
        <div class="blog-entry-content">{{ blog.blogText }}</div>
        <div class="blog-entry-date">
            Posted by {{ blog.blogAuthor.name }} on {{ blog.createdAt | date:'mediumDate' }} at {{ blog.createdAt | date:'shortTime' }}
        </div>
        <div class="blog-entry-icons">
            <!-- Comments icon, shown to everyone -->
            <a ng-href="#!/blogs/comment/add/:blogId">
                <i class="fa-solid fa-comment-medical"></i>          
            </a> 
            <!-- Like icon with like count, shown to everyone -->
            <i ng-class="{'fa-solid fa-heart': blog.isLikedByUser, 'fa-regular fa-heart': !blog.isLikedByUser}"
            ng-click="toggleLike(blog)"
            class="like-icon"></i> {{ blog.likeCount }}  
        </div>
    </div>
  <!-- Form to add a comment -->
  <form ng-submit="addComment()">
      <div class="form-group">
          <label for="commentText">Your Comment:</label>
          <textarea id="commentText" ng-model="comment.text" class="form-control" rows="3" required></textarea>
      </div>
      <div class="form-actions">
          <button type="submit" class="btn btn-primary">Post Comment</button>
          <!-- Cancel button/link -->
          <a href="#!/blogs" class="btn btn-secondary">Cancel</a>
      </div>
  </form>
</div>
