<div ng-app="blogApp" ng-controller="blogListController">
  <div class="blog-list">
    <div class="blog-entry" ng-repeat="blog in blogs">
      <div class="blog-entry-title">
        {{ blog.blogTitle }}
      </div>
      <div class="blog-entry-content">
        {{ blog.blogText }}
      </div>
      <div class="blog-entry-date">
        Posted by {{blog.authorName }} on {{ blog.createdAt | date:'mediumDate' }} at {{ blog.createdAt | date:'shortTime' }}       
      </div>
      <div class="blog-entry-icons">
        <!-- Edit icon, shown only if the logged-in user is the author of the blog -->
        <a ng-href="#!/blogs/edit/{{ blog._id }}" ng-show="blog.isCurrentUserAuthor">
          <i class="fa-solid fa-pen-to-square fa-2xl"></i>
        </a>
        <!-- Delete icon, shown only if the logged-in user is the author of the blog -->
        <a ng-href="#!/blogs/delete/{{ blog._id }}" ng-show="blog.isCurrentUserAuthor">
          <i class="fa-solid fa-trash fa-2xl"></i>
        </a>
        <!-- Comments icon, shown to everyone -->
        <a ng-href="#!/blogs/comment/{{ blog._id }}">
          <i class="fa-solid fa-comments"></i>          
        </a> 
        <!-- Like icon with like count, shown to everyone -->
        <i ng-class="{'fa-solid fa-heart': blog.isLikedByUser, 'fa-regular fa-heart': !blog.isLikedByUser}"
          ng-click="toggleLike(blog)"
          class="like-icon"></i> {{ blog.likeCount }}
      </div>
    </div>
  </div>
</div>
