<div class="container mt-5" ng-controller="blogCommentDeleteController">
    <h2 class="pageTitle">Delete Comment</h2>

    <!-- Display blog details -->
    <div class="blog-entry-title">
        {{ blog.blogTitle }}
    </div>
    <div class="blog-entry-content">
        {{ blog.blogText }}
    </div>    
    <div class="blog-entry-date">
        Posted by {{ blog.blogAuthor.name }} on {{ blog.createdAt | date:'mediumDate' }} at {{ blog.createdAt | date:'shortTime' }}
      </div>
</div>

    <!-- Display the comment to be deleted -->
    <div class="comment-detail">
        <h4>Comment by {{ comment.authorName }}:</h4>
        <p>{{ comment.text }}</p>
        <p>Posted on: {{ comment.createdAt | date:'mediumDate' }}</p>
    </div>

    <div class="blog-entry-icons">
        <!-- Use ng-click to trigger deleteComment function -->
        <button type="button" class="btn btn-danger" ng-click="deleteComment()">Delete Comment</button>
        <!-- Cancel button/link -->
        <a href="#!/blogs/comment/{{ blog._id }}" class="btn btn-secondary">Cancel</a>
    </div>
</div>